.services-list {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .service {
    width: 40%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background: rgba(245, 243, 243, 0.419);
    width: 18rem;
    height: 15rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .service:nth-child(1){
    background-image: url(./src/baguette.jpg);
    background-size: cover;
  }
  .service:nth-child(2){
    background-image: url(./src/cakedecorating.jpg);
    background-size: cover;
  }
  .service:nth-child(3){
    background-image: url(./src/pastry.jpg);
    background-size: cover;
  }
  .service:nth-child(4){
    background-image: url(./src/deserts.jpg);
    background-size: cover;  
 }
  .service:nth-child(5){
    background-image: url(./src);
    background-size: cover;
  }




.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    border-radius: 27px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    color: #fff;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.btn:hover{
    color:#3498db ;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width:100%;
    height: 180%;
    background: #3498db;
    z-index: -1;
    transition: 0.5s;
    bottom: 0;
   
    border: radius 27px;;

}
.btn:hover::before{
    height: 0%;
}
